{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wb_news/bookingoption_description_view

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
    }
}}

<div class="container-fluid">
    <div class="col-md-9 m-auto">
        <div class="row local-wbnews-row">
            <div class="col-md-12">
                <div class="row">
                {{#bgimage}}
                    <img class="img-fluid rounded-lg" src="{{bgimage}}" alt="{{bgimagetext}}"/>
                {{/bgimage}}
                {{#headerimage}}
                    <img class="img-fluid rounded-lg" src="{{headerimage}}" alt="{{headerimagetext}}"/>
                {{/headerimage}}
                </div>
                <div style="margin-top: 60px" class="row align-items-center mb-3">
                <span class="mr-3">{{{publishedon}}}</span>
                {{#tags}}
                <span class="border border-gray rounded-sm p-1 mr-2 text-primary">
                     {{{.}}}
                </span>
                {{/tags}}
                </div>
                <div class="row mb-2">
                <div class="title font-weight-normal h2" >{{{headline}}}</div>
                </div>
                <div class="row mb-2">
                <div class="title font-weight-normal h4" >{{{subheadline}}}</div>
                </div>
                <div class="row mb-6">
                <div class="content"><p>{{{description}}}</p>
                </div>
                <div class="row no-gutters wb_news-userinfo align-items-center w-100">
                        <img src="{{profileurl}}" class="img-fluid rounded-circle" style="height: 50px" alt="Profile Picture">
                        <span class="pl-2 smaller text-primary"><b>{{fullname}}</b></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>