// Font.
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: unquote("url('[[font:theme|Roboto-Light-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: unquote("url('[[font:theme|Roboto-Regular-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: unquote("url('[[font:theme|Roboto-Medium-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: unquote("url('[[font:theme|Roboto-Black-webfont.woff]]') format('woff')");
}

// Colour.
.bg-blue {
    background-color: $blue;

    .btn,
    .input-group {
        color: $white;
    }
}

// Navbar.
.navbar {
    &.fixed-top {
        height: $navbar-height;
        max-height: $navbar-height;

        .navbar-row {
            max-height: $navbar-height / 2;
        }

        .navbar-brand {
            .logo {
                max-height: calc(#{$navbar-height / 2} - (#{$primary-nav-padding-y} * 2));
            }
        }
    }
    &.navbar-expand {
        flex-flow: inherit;
    }

    .primary-navigation {
        margin: auto;
    }

    .popover-region-container {
        top: $navbar-height / 2;
    }
}

// Primary navigation/
.primary-navigation {
    .navigation {
        height: $navbar-height / 2;
        .nav-link {
            height: $navbar-height / 2;
        }
    }
}

// Drawer.
.drawerheader {
    height: $navbar-height / 2;
}
