// Font.
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: unquote("url('[[font:theme|Roboto-Light-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: unquote("url('[[font:theme|Roboto-Regular-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: unquote("url('[[font:theme|Roboto-Medium-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: unquote("url('[[font:theme|Roboto-Black-webfont.woff]]') format('woff')");
}

// Colour - general.
.bg-blue {
    background-color: $blue;

    .btn,
    .input-group,
    .usermenu .login a {
        color: $white;
    }
}

// Navbar.
.navbar {
    &.fixed-top {
        padding: 0;
        height: $navbar-height;
        max-height: $navbar-height;

        .navbar-row {
            height: $navbar-height / 2;
            max-height: $navbar-height / 2;
        }

        .navbar-brand {
            .logo {
                max-height: calc(#{$navbar-height / 2} - (#{$primary-nav-padding-y} * 2));
            }
        }
    }
    &.navbar-expand {
        flex-flow: inherit;
    }

    .lexa-nav-second-row {
        display: flex;
        justify-content: space-between;
    }

    .primary-navigation {
        margin: auto;
    }

    .popover-region-container {
        top: $navbar-height / 2;
    }

    .editmode-switch-form {
        .text-primary {
            color: $white !important;
        }
        .custom-control-input:checked ~ .custom-control-label::before {
            border-color: $light-borders;
        }
    }
}

@include media-breakpoint-up(md) {
    .navbar {
        .lexa-nav-second-row {
            display: grid;
            grid-template-columns: 250px auto 250px;
        }
    }
}

// Primary navigation/
.primary-navigation {
    .navigation {
        height: $navbar-height / 2;
        .nav-link {
            height: $navbar-height / 2;
        }
    }
}

// Drawer.
.drawerheader {
    height: $navbar-height / 2;
}

.drawercontent {
    height: calc(100% - #{$navbar-height / 2});
}

// Footer.
body.limitedwidth #page.drawers .footer-popover {
    max-width: none;
}
@include media-breakpoint-up(md) {
    body {
        #page.drawers .footer-popover,
        &.limitedwidth #page.drawers .footer-popover {
            border-radius: 0;
            margin-left: -3rem;
            overflow-x: hidden;
            width: calc(100% + 6rem);
        }
    }
}

.bg-footer {
    background-color: $footer;
    color: $gray-100;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    a {
        color: $gray-100;
        @include hover-focus() {
            color: $white;
        }
    }
}

.footer-content-information {
    padding-left: 3rem;
    padding-right: 3rem;

    .card {
        background-color: $footer;
        border: none;
        color: $gray-100;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }

        .card-header {
            background-color: transparent;
            border-bottom: none;
        }

        ul.footer-social li {
            margin-right: 0.5rem;
        }
    }

    hr {
        border-top: 1px solid $footerdivider;
    }
}

.btn-footer-popover {
    right: 5px;
}

#page-footer {
    .copyright {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
}
