// Colours.
$blue: #0063a6 !default; // Blue 500.
$blue_700: #005c99 !default;
$white: #fff !default;

$green: #16cc69 !default;
$light-borders: #e9f0f3 !default;
$red: #ea3a3d !default;
$system_error_50: #fde8e8 !default;
$system_error_600: #b81416 !default;
$system_positive_100: #d1fae3 !default;
$system_positive_800: #0a5c2f !default;
$system_warning_50: #fdefe7 !default;
$system_warning_600: #bf4e0d !default;

$primary:   $blue !default;
$primary_100: #ccebff !default;
$primary_900: #001f33 !default;
$darkprimary: #0b131f !default;
$secondary: #0cb9c5 !default;
$darksecondary: #242a3a !default;

$success: #16CC69 !default;
$info: #809FB8 !default;
$warning: #F3874A !default;
$danger: #EA3A3D !default;

$headings-color: $darkprimary !default;

$lightcontent: #D9E1E7 !default;
$light_secondary: #99B2C6 !default;

$primarylightbg: #EDF6FA !default;

$drawer-bg-color: #e9f0f3 !default;

$calendar-bg-color: #edf6fa !default; // Todo: Check if is a named colour scheme value to be used elsewhere.

$footer: $primary_900 !default;
$footerdivider: $white !default;

$hr-margin-y: 0 !default;

// Alert
$alert-border-radius: .625rem !default; // 10 px.

// Typography
$font-size-base: 1.125rem !default; // B1 of 18px.
$font-size-sm: 1rem !default; // B2 of 16px.

$font-weight-lighter:         100 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          500 !default;  // Closest to design of 600.
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;

//Cannot set $line-height-base: 1.625rem !default; // B1 of 26px.  As Boostrap SCSS fails to compile with rem or px units.
$line-height-base: 1.44 !default; // B1 18px and line 26px = 1.44 bigger, roughly.

// Fonts.
$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif !default;

$nav-link-padding-x: 20px !default;
$nav-link-padding-y: 0 !default;

// Navbar.
$navbar-first-row-height: 57px !default; // Change get_header_first_row_height() too or could be a setting.
$navbar-second-row-height: 95px !default; // Change get_header_second_row_height() too or could be a setting.
$navbar-height: $navbar-first-row-height + $navbar-second-row-height;
$navbar-logo-height: 60px !default;
$navbar-first-row-padding-x: 0 !default;
$navbar-first-row-padding-y: 0 !default;
$navbar-first-row-mobile-padding-x: 20px !default;
$navbar-first-row-mobile-padding-y: 10px !default;
$navbar-first-row-nav-padding-x: 30px !default;
$navbar-first-row-nav-padding-y: 10px !default;
$navbar-first-row-nav-mobile-padding-x: .5rem !default;
$navbar-first-row-nav-mobile-padding-y: .5rem !default;
$navbar-first-row-logo-padding-x: $navbar-first-row-nav-padding-x !default;
$navbar-first-row-logo-mobile-padding-x: $navbar-first-row-nav-mobile-padding-x !default;
$navbar-first-row-logo-padding-y: $navbar-first-row-nav-padding-y !default;
$navbar-first-row-logo-mobile-padding-y: $navbar-first-row-nav-mobile-padding-y !default;
$navbar-second-row-padding-x: 0 !default;
$navbar-second-row-padding-y: 0 !default;
$navbar-second-row-mobile-padding-x: 20px !default;
$navbar-second-row-mobile-padding-y: 20px !default;
$navbar-second-row-primary-menu-padding-x: 30px !default;
$navbar-second-row-primary-menu-padding-y: 20px !default;
$navbar-second-row-nav-padding-x: 30px !default;
$navbar-second-row-nav-padding-y: 20px !default;
$navbar-second-row-nav-mobile-padding-x: .5rem !default;
$navbar-second-row-nav-mobile-padding-y: .5rem !default;
$navbar-second-row-logo-padding-x: $navbar-second-row-nav-padding-x !default;
$navbar-second-row-logo-mobile-padding-x: $navbar-second-row-nav-mobile-padding-x !default;
$navbar-second-row-logo-padding-y: $navbar-second-row-nav-padding-y !default;
$navbar-second-row-logo-mobile-padding-y: $navbar-second-row-nav-mobile-padding-y !default;
$navbar-drawer-primary-padding-y: 0 !default;
$navbar-drawer-primary-padding-x: 10px !default;
$nav-link-padding-y: .75rem !default;
$navbar-scrolled-layout: repeat(3,minmax(0,1fr)) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1600px
) !default;

// Breadcrumb.
$breadcrumb-divider: quote(">") !default;
$breadcrumb-item-padding: 2.5rem !default;


$body-color: $primary_900 !default;