// Font.
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: unquote("url('[[font:theme|Roboto-Light-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: unquote("url('[[font:theme|Roboto-Regular-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: unquote("url('[[font:theme|Roboto-Medium-webfont.woff]]') format('woff')");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: unquote("url('[[font:theme|Roboto-Black-webfont.woff]]') format('woff')");
}

// Colour - general.
.bg-blue {
    background-color: $blue;

    .btn,
    .input-group,
    .usermenu .login a {
        color: $white;
    }
}

// Navbar.
:root {
    --lexa-navbar-pos: #{$navbar-height};
}

.navbar {
    align-items: stretch;
    border-bottom: #dee2e6 1px solid;
    box-shadow: none;
    height: $navbar-height;
    max-height: $navbar-height;
    padding: 0;

    // Avoid conflict with drawers.
    z-index: $zindex-sticky;

    .navbar-row {
        height: $navbar-height / 2;
        max-height: $navbar-height / 2;
    }

    .navbar-brand {
        .logo {
            max-height: calc(#{$navbar-height / 2} - (#{$primary-nav-padding-y} * 2));
        }
    }

    &.navbar-expand {
        flex-flow: inherit;
    }

    #lexa-npo > div {
        border-right: 1px solid $border-color;
    }

    .count-container {
        border-radius: 90px;
        font-size: 0.55rem;
        left: 18px;
        line-height: 0.5rem;
        padding: 3px;
        right: auto;
        top: 6px;
    }

    .usermenu {
        display: flex;
        #user-menu-toggle {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }
        .userinitials {
            margin-right: 0;
        }
        .lexauserdetails {
            font-size: 0.8rem;
            margin-left: $spacer * 0.25;
            text-align: left;
            .lexauserrole {
                opacity: 0.8;
            }
        }
        .dropdown-toggle::after {
            display: none;
        }
        .login {
            align-items: center;
            display: flex;
        }
    }
    #usernavigation {
        .usermenu {
            .login {
                color: $white;
            }
        }
    }

    .lexa-nav-second-row {
        display: flex;
        justify-content: space-between;
    }

    .primary-navigation {
        margin: auto;
    }

    .popover-region-container {
        top: 46px;
    }

    .editmode-switch-form {
        .text-primary {
            color: $white !important;
        }
        .custom-control-input:checked ~ .custom-control-label::before {
            border-color: $light-borders;
        }
    }
}

body.notloggedin {
    #usernavigation {
        .usermenu-container {
            height: 100%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .drawer-left,
    .drawer-right {
        top: var(--lexa-navbar-pos);
        height: calc(100vh - #{$navbar-height / 2});
    }
}

@include media-breakpoint-down(md) {
    .navbar {
        #lexa-navbar-scrolled.fixed-top {
            .navbar-brand {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .navbar {
        .lexa-nav-second-row {
            display: grid;
            grid-template-columns: $navbar-scrolled-layout;
        }
    }
    .pagelayout-standard {
        #page.drawers {
            .main-inner {
                max-width: 100%;
            }
            .footer-popover {
                border-radius: 0;
                max-width: calc(100% + 6rem);
                margin: 0 0 0 -3rem;
                width: calc(100% + 6rem);
            }
        }
    }
}

// Primary navigation/
.primary-navigation {
    .navigation {
        height: $navbar-height / 2;
        .nav-link {
            height: $navbar-height / 2;
        }
    }
}

// Drawers.
#page,
#page.drawers {
    margin-top: 0;
    transition: margin-top 0.2s;

    body.lexascrolled & {
        margin-top: $navbar-height / 2;
    }
}

// Drawer.
.drawer {
    &.drawer-right {
        @include transition(right 0.2s ease, top 0.0s ease, bottom 0.2s ease, visibility 0.2s ease, transform 0.5s ease);
    }
    &.drawer-left {
        @include transition(left 0.2s ease, top 0.0s ease, bottom 0.2s ease, visibility 0.2s ease);
    }
}

.drawerheader {
    height: $navbar-height / 2;
}

@include media-breakpoint-down(md) {
    .drawercontent {
        height: 100%;
    }
}

@include media-breakpoint-up(md) {
    .drawercontent {
        height: calc(100% - var(--lexa-navbar-pos));
    }
}

[data-region=right-hand-drawer] {
    &.drawer {
        top: var(--lexa-navbar-pos);
        height: calc(100% - var(--lexa-navbar-pos));
    }
}

@include media-breakpoint-up(lg) {
    #page.drawers {
        &.show-drawer-left {
            padding-left: 3rem;
        }
        &.show-drawer-right {
            padding-right: 3rem;
        }
    }
}

// Landing region.
#block-region-landing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .block {
        border-width: 0;
        margin-bottom: 0 !important;
    }

    .landingblock {
        flex: 0 0 100%;
        max-width: 100%;

        .blockskiptarget {
            font-size: 0;
        }

        .card-body {
            padding: 0;
        }
    }
}

.editing #block-region-landing {
    column-gap: 0.5rem;
    justify-content: start;

    .block {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include media-breakpoint-up(md) {
    body:not(.editing) #page.drawers {
        #block-region-landing {
            margin-left: -3rem;
            margin-right: -3rem;
        }
    }
}

// Calendar.
.lexatoday {
    margin-bottom: 1rem;
}

#page-calendar-view #page.drawers .main-inner {
    background-color: $calendar-bg-color;
    #region-main {
        @include border-radius();
    }
}

.lexa-calendar-view .calendar-controls {
    .current {
        width: 100%;
    }
    .next,
    .previous {
        width: 50%;
    }
}

.calendar_filters {
    .calendar_event_site,
    .calendar_event_category,
    .calendar_event_course,
    .calendar_event_group,
    .calendar_event_user,
    .calendar_event_other {
        display: inline-block;
        width: 32px;
    }
}

// Footer.
body.limitedwidth #page.drawers .footer-popover {
    max-width: none;
}
@include media-breakpoint-up(md) {
    body {
        #page.drawers .footer-popover,
        &.limitedwidth #page.drawers .footer-popover {
            border-radius: 0;
            margin-left: -3rem;
            overflow-x: hidden;
            width: calc(100% + 6rem);
        }
    }
}

.bg-footer {
    background-color: $footer;
    color: $gray-100;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    a {
        color: $gray-100;
        @include hover-focus() {
            color: $white;
        }
    }
}

.footer-content-information {
    padding-left: 3rem;
    padding-right: 3rem;

    .card {
        background-color: $footer;
        border: none;
        color: $gray-100;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }

        .card-header {
            background-color: transparent;
            border-bottom: none;
        }

        ul.footer-social li {
            margin-right: 0.5rem;
        }
    }

    hr {
        border-top: 1px solid $footerdivider;
    }
}

.btn-footer-popover {
    right: 5px;
}

#page-footer {
    .copyright {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
}

.booking-button-area .booking-button-mainarea.bertabutton:not(#page-mod-booking-optionview .booking-button-area .booking-button-mainarea.bertabutton),
 .booking-button-area .booking-button-area.bertabutton:not(#page-mod-booking-optionview .booking-button-area .booking-button-area.bertabutton) {
    /* eslint-disable-next-line */
    width: fit-content !important;
    /* eslint-disable-next-line */
    padding: 0 10px !important;
    /* eslint-disable-next-line */
    padding: 10px !important;
    /* eslint-disable-next-line */
    height: 2.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-button-area .booking-button-toparea {
    border-radius: 0.5rem;
    /* eslint-disable */
    height: 2.5rem !important;
    padding: 0 !important;
    margin: 0 0.25rem !important;
    font-size: .9375rem !important;
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* eslint-enable */
}


.booking-button-area .booking-button-area:not(#page-mod-booking-optionview .booking-button-area .booking-button-area), .bertabutton:not(#page-mod-booking-optionview .bertabutton) {
    background: transparent !important;
    border: black 2px solid !important;
    position: relative;
    color: black !important;
    font-weight: normal;
    /* eslint-disable-next-line */
    /* padding-right: 2rem !important; */
}

.linkbutton:not(#page-mod-booking-optionview .linkbutton) {
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    font-weight: normal;
}

#page-mod-booking-optionview {
    background-color: $primarylightbg;
    .main-inner, #region-main, #page-header, #topofscroll {
       background-color: $primarylightbg;
    }

    .datestring {
        .date {
            margin-right:auto;
            font-weight: bold;
        }
    }

    .location {
        a {
            color: black;
            border: 1px solid black;
            background: white;
            border-radius: .5rem;
            padding: .375rem .75rem;
        }
    }
}