// Colours.
$blue: #0063a6 !default; // Blue 500.
$blue_700:  #005c99 !default;

$red:   #ea3a3d !default;
$green: #16cc69 !default;
$light-borders: #e9f0f3 !default;

$primary:   $blue !default;
$darkprimary: #0b131f !default;
$secondary: #0cb9c5 !default;
$darksecondary: #242a3a !default;
$success:   $green !default;
$warning:   #f3874a !default;
$danger:    $red !default;

$headings-color: $darkprimary !default;

$lightcontent: D9E1E7 !default;

$primarylightbg: #EDF6FA !default;

$drawer-bg-color: #e9f0f3 !default;

$calendar-bg-color: #edf6fa !default; // Todo: Check if is a named colour scheme value to be used elsewhere.

$footer:        #001f33 !default;
$footerdivider: #264051 !default;

// Typography

$font-size-base: 1.125rem !default; // B1 of 18px.
$font-size-sm: 1rem !default; // B2 of 16px.

//Cannot set $line-height-base: 1.625rem !default; // B1 of 26px.  As Boostrap SCSS fails to compile with rem or px units.
$line-height-base: 1.44 !default; // B1 18px and line 26px = 1.44 bigger, roughly.

// Fonts.
$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif !default;

// Navs
$nav-link-padding-y: 0 !default;
$nav-link-padding-x: 20px !default;

// Navbar.
$navbar-height: 120px !default;
$nav-link-padding-y: .75rem !default;
$navbar-scrolled-layout: repeat(3,minmax(0,1fr)) !default;
