// Lexa.

// Landing region.
#block-region-landing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .block {
        border-width: 0;
        margin-bottom: 0 !important;
    }

    .landingblock {
        flex: 0 0 100%;
        max-width: 100%;

        .blockskiptarget {
            font-size: 0;
        }

        .card-body:nth-child(1) {
            padding: 0;
        }
    }
}

.editing #block-region-landing {
    column-gap: 0.5rem;
    justify-content: start;

    .block {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@include media-breakpoint-up(md) {
    body:not(.editing) #page.drawers {
        #block-region-landing {
            margin-left: -3rem;
            margin-right: -3rem;
        }
    }
}

// Footer.
body.limitedwidth #page.drawers .footer-popover {
    max-width: none;
}
@include media-breakpoint-up(md) {
    body {
        #page.drawers .footer-popover,
        &.limitedwidth #page.drawers .footer-popover {
            border-radius: 0;
            margin-left: -3rem;
            overflow-x: hidden;
            width: calc(100% + 6rem);
        }
    }
}

.bg-footer {
    background-color: $footer;
    color: $gray-100;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }

    a {
        @include hover-focus() {
            color: $white;
        }
    }
}

.footer-content-information li a,
.footer-content-information li  {
    line-height: 30px;
}

.footer-content-information img {
    height: 46px;
}

.footer-content-information {
    padding-left: 3rem;
    padding-right: 3rem;

    .card {
        background-color: $footer;
        border: none;
        color: $gray-100;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }

        .card-header {
            background-color: transparent;
            border-bottom: none;
        }

        ul.footer-social li {
            margin-right: 0.5rem;
        }
    }
}

.btn-footer-popover {
    right: 5px;
}
