// Colours.
$blue:  #0063a6 !default;
$red:   #ea3a3d !default;
$green: #16cc69 !default;
$light-borders: #e9f0f3 !default;

$primary:   $blue !default;
$secondary: #0cb9c5 !default;
$success:   $green !default;
$warning:   #f3874a !default;
$danger:    $red !default;

$primarylightbg: #EDF6FA !default;


$drawer-bg-color: #e9f0f3 !default;

$footer:        #001f33 !default;
$footerdivider: #264051 !default;

// Fonts.
$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif !default;

// Navbar.
$navbar-height: 120px !default;
$nav-link-padding-y: .75rem !default;
$navbar-scrolled-layout: repeat(3,minmax(0,1fr)) !default;
