{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingoption_description_view

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "identifier": "2345",
        "title": "AERIAL YOGA",
        "modalcounter": 1,
        "invisible": "0",
        "annotation": "",
        "userid": "2",
        "description": "Flow Yoga Multistyle MindestteilnehmerInnen: 6",
        "statusdescription": "v",
        "imageurl": "http://localhost:58000/pluginfile.php/22/mod_booking/bookingimages/1/Aerial_yoga.png",
        "location": "1",
        "address": "1090 Wien Tendlergasse 11",
        "institution": "TENDLERGASSE",
        "duration": "0 days  1 hours  0 minutes",
        "booknowbutton": null,
        "dates": [
            {
            "datestring": "3 March 2023, 10:30 AM - 11:45 AM",
            "customfields": []
            },
            {
            "datestring": "10 March 2023, 10:30 AM - 11:45 AM",
            "customfields": []
            }
        ],
        "teachers": [
            "Maxima Yoga"
        ],
        "price": "79.00",
        "priceformulaadd": "0.00",
        "priceformulamultiply": "1.00",
        "currency": "EUR",
        "pricecategoryname": "Price",
        "dayofweektime": "FR, 10:30 - 11:45",
        "sport": "Aerial Yoga",
        "customfields": {
            "sport": [
            "AERIAL YOGA"
            ],
            "botags": [
            ""
            ]
        },
        "bookinginformation": {
            "waiting": 0,
            "booked": 1,
            "reserved": 0,
            "onnotifylist": false,
            "maxanswers": "12",
            "freeonlist": 11,
            "fullybooked": false,
            "showmanageresponses": true,
            "manageresponsesurl": "http://localhost:58000/mod/booking/report.php?id=7&optionid=1"
        },
        "usertobuyfor": {
            "id": "2",
            "auth": "manual",
            "confirmed": "1",
            "policyagreed": "0",
            "deleted": "0",
            "suspended": "0",
            "mnethostid": "1",
            "username": "admin",
            "password": "$2y$10$pAVtIFwAUH\bNSuVXjTgouqEjgxoYMb74bTiF0UEEoHJkKhrK0QdG",
            "idnumber": "",
            "firstname": "Admin",
            "lastname": "User",
            "email": "install@wunderbyte.at",
            "emailstop": "0",
            "phone1": "",
            "phone2": "",
            "institution": "",
            "department": "",
            "address": "",
            "city": "",
            "country": "",
            "lang": "en",
            "calendartype": "gregorian",
            "theme": "",
            "timezone": "99",
            "firstaccess": "1669485049",
            "lastaccess": "1678538409",
            "lastlogin": "1678350420",
            "currentlogin": "1678533798",
            "lastip": "10.0.2.2",
            "secret": "",
            "picture": "0",
            "description": "",
            "descriptionformat": "1",
            "mailformat": "1",
            "maildigest": "0",
            "maildisplay": "1",
            "autosubscribe": "1",
            "trackforums": "0",
            "timecreated": "0",
            "timemodified": "1669485103",
            "trustbitmask": "0",
            "imagealt": null,
            "lastnamephonetic": "",
            "firstnamephonetic": "",
            "middlename": "",
            "alternatename": "",
            "moodlenetprofile": null,
            "profile": []
        },
        "bookitsection": " HTML of Booked button",
        "unitstring": "Units: 1.3",
        "showmanageresponses": true,
        "manageresponsesurl": "http://site/mod/booking/report.php?id=7&optionid=1"
    }
}}

<div class="container-fluid">
    <div class="col-md-9 m-auto">
            <div class="row">
            <div class="col-md-12 d-flex mb-3">
        <!-- Left Button -->
        {{#returnurl}}
            <a href="{{returnurl}}" role="button" class="btn btn-nolabel mr-auto">{{#str}} back, core {{/str}}</a>
        {{/returnurl}}
        <!-- Right Button -->
        {{#editurl}}
            <a href="{{editurl}}" role="button" class="btn btn-outline-dark bg-white ml-auto gradienthover">{{#str}} edit, core {{/str}}</a>
        {{/editurl}}
        </div>
    </div>
        <div class="row mod-booking-row">
            <div class="col-md-7">
                <div class="d-flex mb-3 align-items-center justify-content-start">
                <span class="mr-2">{{{ bookings }}}</span>
                <span class="mr-2">{{{ botags }}}</span>
                </div>
                <div class="mb-2">
                <h2 class="title font-weight-normal" >{{title}}</h2>
                </div>
                {{#description}}
                <div class="mb-6">
                <div class="content"><p>{{{.}}}</p></div>
                </div>
                {{/description}}
                {{#datesexist}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} optiondates, local_urise {{/str}}</h2>
                        {{#showcollapse}}
                        <div class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseDates"
                        aria-expanded="false" aria-controls="collapseDates"">{{#str}} showdates, local_urise {{/str}}</div>
                        {{/showcollapse}}
                        <div class=" {{#showcollapse}}collapse{{/showcollapse}} mt-3" id="collapseDates">
                        {{#dates}}
                                <div class="card w-100 bg-white rounded mb-4 border-0">
                                    <div class="card-body p-2">
                                        <div class="row">
                                            <div class="col-md-12 datestring d-flex">
                                                {{{ htmlstring }}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{#entitylink}}
                                                    <div class="entity-for-optiondate-area">
                                                        <i class="fa fa-fw fa-map-marker text-primary" aria-hidden="true"></i>&nbsp;{{{.}}}
                                                    </div>
                                                {{/entitylink}}
                                            </div>
                                        </div>
                                        <div class="row" {{^customfields}}style="display:none"{{/customfields}}>
                                            <div class="col-md-12">
                                                {{#customfields}}
                                                    <div>
                                                        {{name}}{{{value}}}
                                                    </div>
                                                {{/customfields}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {{/dates}}
                        </div>
                </div>
                {{/datesexist}}
                {{#voraussetzungen}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} requirements, local_urise {{/str}}</h2>
                    {{{.}}}
                </div>
                {{/voraussetzungen}}
                {{#zielgruppe}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} targetaud, local_urise {{/str}}</h2>
                    {{{.}}}
                </div>
                {{/zielgruppe}}
                {{#kursziel}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} goals, local_urise {{/str}}</h2>
                    {{{.}}}
                </div>
                {{/kursziel}}
                {{#inhalte}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} coursecontent, local_urise {{/str}}</h2>
                    {{{.}}}
                </div>
                {{/inhalte}}
                {{#methoden}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} coursemethods, local_urise {{/str}}</h2>
                    {{{.}}}
                </div>
                {{/methoden}}
                {{#teachers.0}}
                <div class="my-6 detailteacher">
                    <h2 class="font-weight-normal"> {{#str}} teachers, local_urise {{/str}}</h2>
                    {{#teachers}}
                    <div class="profile-card d-flex mt-5 align-items-center mb-3">
                        <div class="mr-3">
                            <div class="profile-icon-wrapper">
                            <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <!-- Placeholder for profile icon -->
                        <div class="profile-info">
                        <h5>{{{firstname}}} {{{lastname}}}</h5>
                        <p>{{{description}}}</p>
                        </div>
                    </div>
                    <a href="{{{teacherurl}}}" class="btn btn-outline-dark bg-white gradienthover">
                    {{#str}} gotoprofile, local_urise {{/str}}
                    <i class="fa-solid fa-arrow-right ml-1"></i></a>
                    {{/teachers}}
                    </div>
                {{/teachers.0}}
                {{#location}}
                <div class="my-6 location">
                    <h2 class="font-weight-normal"> {{#str}} location, local_urise {{/str}}</h2>
                    {{#entities}}
                        {{{description}}}
                    {{/entities}}
                    {{{.}}}
                    </a>
                </div>
                {{/location}}
                {{#sonstigeinfos}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} additionalinfo, local_urise {{/str}}</h2>
                    {{{.}}}
                </div>
                {{/sonstigeinfos}}
                {{#responsiblecontactuser}}
                <div class="my-6">
                    <h2 class="font-weight-normal"> {{#str}} orgacontact, local_urise {{/str}}</h2>
                    <div>
                    <p>{{{firstname}}} {{{lastname}}}</p>
                    <p>{{{description}}}</p>
                    <p>
                <i class="fa-solid fa-fw fa-envelope"></i>
                <a href="mailto:{{{email}}}">{{{email}}}</a>
                    </p>
                    </div>
                </div>
                {{/responsiblecontactuser}}
            </div>
            <div class="col-md-5">
                <div class="card price-card border-0">
                    {{#imageurl}}
                    <img class="w-100 uriseimage" src="{{imageurl}}" alt="{{title}}">
                    {{/imageurl}}
                    {{^imageurl}}
                            <div class="placeholderimage">
                            <div class="m-3 d-flex justify-conten-center align-items-center flex-column">
                            <i class="fa-regular fa-image placeholdericon"></i>
                            <h4 class="pt-2" >
                                {{#str}} optionnoimage, mod_booking {{/str}}
                            </h4>
                            </div>
                            </div>
                    {{/imageurl}}
                    <div class="card-body">
                        <div class="row mod-booking-row">
                        <div class="col-md-11 m-auto detailview">
                            <p class="mb-3 font-weight-bold">{{#str}} aboutoffer, local_urise {{/str}}</p>
                            {{#dayofweektime}}
                            <div class="mb-1">
                                <span>
                                    <span class="icon-container">
                                      <!-- Original <i> tag replaced with SVG -->
                                      <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="100%"  viewBox="0 0 25 26" fill="none">
                                        <path d="M22.4354 12.9492C22.4354 18.5785 17.8667 23.1472 12.2375 23.1472C6.60822 23.1472 2.03955 18.5785 2.03955 12.9492C2.03955 7.31999 6.60822 2.75132 12.2375 2.75132C17.8667 2.75132 22.4354 7.31999 22.4354 12.9492Z" stroke="#0063A6" stroke-width="1.66875" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M16.0206 16.1919L12.8593 14.3053C12.3086 13.979 11.8599 13.1937 11.8599 12.5513V8.37012" stroke="#0063A6" stroke-width="1.66875" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                    </span>
                                </span>
                                <span class="d-md-none">
                                    {{#str}} dayofweektime, mod_booking {{/str}}
                                </span>
                                    {{.}}
                                <span>
                                    {{#unitstring}} ({{.}}) {{/unitstring}}
                                </span>
                            </div>
                            {{/dayofweektime}}
                            {{#kurssprache}}
                            <div class="mb-1">
                                    <span class="icon-container">
                                      <!-- Original <i> tag replaced with SVG -->
                                      <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="100%"  viewBox="0 0 24 24" fill="none">
                                        <g clip-path="url(#clip0_3680_13685)">
                                          <path d="M21.4832 18.3137H11.2621L5.42148 22.6942V18.3137H2.50117C2.11391 18.3137 1.74252 18.1598 1.46869 17.886C1.19485 17.6122 1.04102 17.2408 1.04102 16.8535V2.25197C1.04102 1.86471 1.19485 1.49331 1.46869 1.21948C1.74252 0.945647 2.11391 0.791809 2.50117 0.791809H21.4832C21.8705 0.791809 22.2419 0.945647 22.5157 1.21948C22.7895 1.49331 22.9434 1.86471 22.9434 2.25197V16.8535C22.9434 17.2408 22.7895 17.6122 22.5157 17.886C22.2419 18.1598 21.8705 18.3137 21.4832 18.3137Z" stroke="#0063A6" stroke-width="1.46016" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M5.42139 7.36252H18.5628" stroke="#0063A6" stroke-width="1.46016" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M5.42139 11.743H15.6425" stroke="#0063A6" stroke-width="1.46016" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                          <clipPath id="clip0_3680_13685">
                                            <rect width="23.3625" height="23.3625" fill="white" transform="translate(0.310547 0.0617371)"/>
                                          </clipPath>
                                        </defs>
                                      </svg>
                                    </span>
                                <span class="d-md-none">
                                    {{#str}} institution, mod_booking {{/str}}:
                                </span>
                                <span>
                                    {{{.}}}
                                </span>
                            </div>
                            {{/kurssprache}}
                            {{#format}}
                            <div class="mb-1">
                            <span class="icon-container">
                              <!-- Original <i> tag replaced with SVG -->
                              <svg xmlns="http://www.w3.org/2000/svg"  width="100%" height="100%"  viewBox="0 0 26 25" fill="none">
                                <g clip-path="url(#clip0_3680_5680)">
                                  <path d="M1.875 23.7866V15.8755" stroke="#0063A6" stroke-width="1.48333" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M15.2251 15.8755H24.1251V23.2922C24.1251 23.4233 24.073 23.5491 23.9803 23.6418C23.8876 23.7345 23.7618 23.7866 23.6307 23.7866H15.7195C15.5884 23.7866 15.4626 23.7345 15.3699 23.6418C15.2772 23.5491 15.2251 23.4233 15.2251 23.2922V15.8755Z" stroke="#0063A6" stroke-width="1.48333" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M2.36944 11.9199H23.6306C23.7617 11.9199 23.8875 11.972 23.9802 12.0647C24.0729 12.1574 24.125 12.2832 24.125 12.4143V15.8754H1.875V12.4143C1.875 12.2832 1.92709 12.1574 2.01982 12.0647C2.11255 11.972 2.23831 11.9199 2.36944 11.9199Z" stroke="#0063A6" stroke-width="1.48333" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M15.2251 19.8311H24.1251" stroke="#0063A6" stroke-width="1.48333" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M6.32513 1.53673H15.2251C15.2251 1.53673 16.7085 1.53673 16.7085 3.02006V7.47006C16.7085 7.47006 16.7085 8.95339 15.2251 8.95339H6.32513C6.32513 8.95339 4.8418 8.95339 4.8418 7.47006V3.02006C4.8418 3.02006 4.8418 1.53673 6.32513 1.53673Z" stroke="#0063A6" stroke-width="1.48333" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M10.7749 8.95357V11.9202" stroke="#0063A6" stroke-width="1.48333" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_3680_5680">
                                    <rect width="24.475" height="24.475" fill="white" transform="translate(0.762695 0.424225)"/>
                                  </clipPath>
                                </defs>
                              </svg>
                            </span>
                                <span class="d-md-none">
                                    {{#str}} institution, mod_booking {{/str}}:
                                </span>
                                <span>
                                    {{{.}}}
                                </span>
                            </div>
                            {{/format}}
                            {{#competency}}
                            <div class="mb-1">
                                <span class="icon-container">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 25 23" fill="none">
                                       <path d="M5.20557 7.86726H21.7262" stroke="#0063A6" stroke-width="2.225" stroke-linecap="round" stroke-linejoin="round"/>
                                       <path d="M3.37012 16.4326H19.8907" stroke="#0063A6" stroke-width="2.225" stroke-linecap="round" stroke-linejoin="round"/>
                                       <path d="M10.7129 3.58372L5.81787 20.7162" stroke="#0063A6" stroke-width="2.225" stroke-linecap="round" stroke-linejoin="round"/>
                                       <path d="M19.2788 3.58372L14.3838 20.7162" stroke="#0063A6" stroke-width="2.225" stroke-linecap="round" stroke-linejoin="round"/>
                                     </svg>
                                </span>
                                <span class="d-md-none">
                                    {{#str}} institution, mod_booking {{/str}}:
                                </span>
                                <span>
                                    {{{.}}}
                                </span>
                            </div>
                            {{/competency}}
                            {{#organisation }}
                                <span class="badge bg-gray badge-pill">
                                    {{ . }}
                                </span>
                            {{/organisation }}
                            {{#bookingopeningtime}}
                            <div>
                                <span>
                                    <i class="fa fa-fw fa-forward" aria-hidden="true"></i>
                                </span>
                                <span>
                                    {{#str}} bookingopeningtime, mod_booking {{/str}}: {{{.}}}
                                </span>
                            </div>
                            {{/bookingopeningtime}}
                            {{#bookingclosingtime}}
                            <div>
                                <span>
                                    <i class="fa fa-fw fa-step-forward" aria-hidden="true"></i>
                                </span>
                                <span>
                                    {{#str}} bookingclosingtime, mod_booking {{/str}}: {{{.}}}
                                </span>
                            </div>
                            {{/bookingclosingtime}}

                            <div class="row mt-3">
                            {{{ bookitsection }}}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#js}}
    require(['local_shopping_cart/cart'], function(cart) {
    cart.buttoninit({{modalcounter}}, "mod_booking");
    });
{{/js}}